<div class="container">
  <h1><%=@question.name.html_safe%></h1>
  <%if @question.user!=current_user%>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      Answer this Question
  </button>
  <!-- The Modal -->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><%=@question.name.html_safe%></h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
            	<%=form_for @my_answer,url:answers_create_path(@question) do |f|%>
  				<input type="hidden" name="answer[question_id]" value="<%=@question.id%>">
  			    <%=f.cktext_area :name,class:"form-control"%>
  			    
  			    <%=f.submit "Answer",class:"btn btn-success btn-block"%>
  			<%end%>
          </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
          
        </div>
      </div>
    </div>
  <%end%>
  <hr>
  Answers
  <div style="overflow:scroll; height:500px;">
  <%@answers.each do |answer|%>
  	<div class="card">
    		<div class="card-body">
      		<%=answer.name.html_safe%>
    		</div>
    		<div class="card-footer">
    			<%=image_tag answer.user.profile_pic,width:60,class:"image-comment" %>
          <small>Answered by&nbsp;<%=answer.user.name%>&nbsp;<%= time_ago_in_words(answer.created_at)+" ago"%></small>
    		</div>
  	</div>	
  <%end%>

</div>
<%= link_to 'Back', :back,class:"btn btn-warning"%>
</div>