<div class="container">
  <h1><%=@question.name.html_safe%></h1>
  <%if @question.user!=current_user%>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      Answer this Question
  </button>
    <%=render "modal/modal_head",locals:{"heading"=>@question.name.html_safe,"target"=>"myModal"}%> 
        <%=form_for @my_answer,url:answers_create_path(@question) do |f|%>
  				  <input type="hidden" name="answer[question_id]" value="<%=@question.id%>">
  			    <%=f.cktext_area :name,class:"form-control"%>
  			    <%=f.submit "Answer",class:"btn btn-success btn-block"%>
  			<%end%>
    <%=render "/modal/modal_tail"%>
  <%end%>
  
  <hr>
  Answers
  <div style="overflow:scroll; height:500px;">
  <%@answers.each do |answer|%>
  	<div class="card">
    		<div class="card-body">
      		<%=answer.name.html_safe%>
    		</div>
    		<div class="card-footer">
    			<%=image_tag answer.user.profile_pic,width:60,class:"image-comment" %>
          <small>Answered by&nbsp;<%=answer.user.name%>&nbsp;<%= time_ago_in_words(answer.created_at)+" ago"%></small>
          <%#byebug%>
            <%@badge_color=if answer.vote_count>0 then "badge-success" else "badge-danger" end%>
            <span class="badge likes-count-<%=answer.id%> <%=@badge_color%>" style="height: 100%;"><%=answer.vote_count%></span>
            
            <%=link_to "Vote Up",voter_path(answer_id:answer.id,vote_type:1),class:"btn btn-success",method: :post,remote: :true%>
          
            <%=link_to "Vote Down",voter_path(answer_id:answer.id,vote_type:0),class:"btn btn-danger",method: :post,remote: :true%>
        </div>
  	</div>	
  <%end%>

</div>
<%= link_to 'Back', home_question_path,class:"btn btn-warning"%>
</div>