<div class="card">
  <h5 class="card-title">Edit <%= resource_name.to_s.humanize %></h5>
  <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages!%>
              <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, autocomplete: "name",class:"form-control" %>
              </div>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>

              <div class="form-group">
                <%= f.label :password %> 
                <%= f.password_field :password, autocomplete: "off",class:"form-control",placeholder:"leave blank if you dont intend to change" %>
                <% if @minimum_password_length %>
                  
                  <em><%= @minimum_password_length %> characters minimum</em>
                <% end %>
              </div>

              <div class="form-group">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, autocomplete: "off",class:"form-control",placeholder:"only fill if you have filled above" %>
              </div>

              <div class="form-group">
                <%= f.label :current_password %>
                <%= f.password_field :current_password, autocomplete: "off",class:"form-control",placeholder:"We need to know its you." %>
              </div>
              <div class="form-group">
                <%= f.submit "Update",class:"btn btn-primary" %>
              </div> 

            <% end %>
            </div> 

          <div class="col-md-4">
            <h5>Unhappy?</h5>
            <p>Cancel my account<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,class:"btn btn-danger"%></p>
            <div class="auth-links">
          <%= link_to "Back", :back %>
        </div>
          </div>
        
        </div>
  </div>
</div>


