<%=form_for question,url:'/questions' do |f|%>
  <div class="form-group">
    <%=f.label "Enter your New Question"%>
    <%=f.text_area :name,class:"form-control"%>
  </div>
  <div class="form-group">
  <%if logged_in?(:admin)%>
  <%= f.label :user %>
      <%= f.collection_select(:user_id, User.all,:id,:name,{
        include_blank:false,
      },class:"form-control") %>
  </div>
  <%else%>
  	<input type="hidden" name="question[user_id]" value="<%=current_user.id%>">
  <%end%>
  <%=f.submit "Post Comment",class:"btn btn-primary"%>


<%end%>