
<% if logged_in?(:admin)%>
	<%= render "question/admin"%>
<%else%>
	<%= render "question/user"%>
<%end%>

  <%@questions.each do |question|%>
	<div class="card text-center">
	  <div class="card-header">
	    <%=question.name%>
	  </div>
	  <div class="card-body">
	    <h5 class="card-title">Posted by <%=question.user.name%></h5>
	    
	    <a href="#" class="btn btn-primary">Go somewhere</a>
	  </div>
	
	<div class="card-footer text-muted">
   	<%= time_ago_in_words(question.created_at)+" ago"%>
  </div>
 	
 	</div>
<%end%>
  
  


